body{
    background-color: rgb(209, 209, 214);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

.top-bar{
    background-color: rgb(235, 235, 236);
    margin: 0px;
    padding: 1px 0px 1px 20px;
    font-size: 8px;
    border: .1px solid rgb(216, 216, 216);
    /* width:100%; */
}


#linked-in-tag{
    max-width: 200px;
    border-radius: 50%;
    margin: auto;

}

.colorstrip{
    background-color:#515b68;
    padding:5px;
    margin:0px;
    width:100%;
}

/* Layout: */
.divider{
    display:flex;
    flex-direction: row;
    /* background-color: white; */
    width: 70%;
    margin: auto;
}

.left-box{
    flex-basis: 70%;
    padding: 2px;
    margin: 10px 10px 10px 40px;
 
    /* background-color: white; */

}

.right-box{
    flex-basis: 30%;
    padding: 2px;
    margin: 10px 20px 10px 0px;
    /* background-color: white; */

}

/* Content-Box: */
.box{
    background-color: rgb(235, 235, 236);
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    margin: 10px 1px 10px 1px;
}

.box .box-content{
    display: flex;
    flex-direction: column;
}